In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import datetime
from datetime import timedelta

In [2]:
df = pd.read_csv('RMU Ship Date Clean.csv')

In [3]:
df.head()

  ClientKey    ShipDate CurrentDate   Age  BrandID     BrandName  UnitStatusID
0     NAT07   7/10/2007  11/14/2019  4510       21  APM4AMCP-ORB             3
1      ONG1  10/24/2017  11/14/2019   751       57        RM1250             1
2      ONG1  10/25/2018  11/14/2019   385       57        RM1250             1
3     ELP08    5/7/2015  11/14/2019  1652       52        RM4011             1
4     ELP08   8/19/2016  11/14/2019  1182       37        RM4010             1

In [4]:
# for ship dates with null values, get the median of the null value's BrandName age, excluding the null values
# plug in the age for that null values of current BrandName
# repeat for all null Values

In [5]:
dfNull = df[df['ShipDate'].isnull()]
nullBrandNames = dfNull['BrandName'].unique()

In [6]:
dfNotNull = df.dropna(subset=['ShipDate'])
#change Age dtype to int64
dfNotNull['Age'] = dfNotNull['Age'].astype("int64")
#change shipdate and current date to datettime
dfNotNull[['ShipDate','CurrentDate']] = dfNotNull[['ShipDate','CurrentDate']].astype("datetime64")

C:\Users\chris.lee\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\chris.lee\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3391: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [7]:
dfNotNull.dtypes

ClientKey               object
ShipDate        datetime64[ns]
CurrentDate     datetime64[ns]
Age                      int64
BrandID                  int64
BrandName               object
UnitStatusID             int64
dtype: object

In [8]:
df['Age'] = df['Age'].astype("int64")
df[['ShipDate','CurrentDate']] = df[['ShipDate','CurrentDate']].astype("datetime64")

ValueError: invalid literal for int() with base 10: '#VALUE!'

In [10]:
# integrate 1900 dates too
for name in nullBrandNames:
    currentMedian = dfNotNull[dfNotNull['BrandName']==name].median()
    if np.isnan(currentMedian['Age']):
        currentMedian['Age'] = dfNotNull['Age'].median()
    #print(name,currentMedian['Age'])
    df.loc[(df['BrandName']==name) & ((df['ShipDate'].isnull()) | (pd.to_datetime(df['ShipDate'])==datetime.datetime(1900,1,1))),'Age'] = currentMedian['Age']
    df.loc[(df['BrandName']==name) & ((df['ShipDate'].isnull()) | (pd.to_datetime(df['ShipDate'])==datetime.datetime(1900,1,1))),'ShipDate'] = df['CurrentDate']-timedelta(days=currentMedian['Age'])

AMR6-ORB 3539.5
AMR6-SAT 3251.0
APM4AMCP-ORB 4019.0
APM4AMCP-SAT 3016.0
APM4AM-GSM 4033.0
APM4AM-GSM2 2799.0
APM4AM-ORB 4251.0
APM4AM-SAT 2169.5
ICP 4537.0
ICP+ 3793.0
INT250 1143.0
INT300 1143.0
M2500 1143.0
RM1020 1143.0
RM1040 1143.0
RM1041 1143.0
RM1042 1875.0
RM1043 1143.0
RM1250 626.0
RM2012 1143.0
RM2020 3172.0
RM3010 1143.0
RM3011 2241.0
RM3012 1882.0
RM3020 1143.0
RM3250 358.0
RM4010 1921.0
RM4011 1780.0
RM4012 1728.0
RM4013 1735.0
RM4014 563.0
RM4015 533.0
RM4016 561.0
RM4020 2642.0
RM4150 951.0
RM4151 1583.0
RM4210 770.0
RM4211 304.0
RM4250 1143.0
RM4251 1143.0
SDT16-GSM 4249.0
SDT16-ORB 4181.0
SDT16-SAT 1484.0

In [ ]:
df.to_csv('RMU Cleaned.csv')